/*arrow*/
i {
  border: solid;
  border-width: 0 0.5vw 0.5vw 0;
  display: inline-block;
  padding: 0.5vw;
}

.small {
    border-width: 0 0.3vw 0.3vw 0; 	
    padding: 0.3vw;   
}

.large {
 border-width: 0 1vw 1vw 0; 	
 padding: 1vw;
}

.jumbo {
 border-width: 0 2vw 2vw 0; 	
 padding: 3vw;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*text*/
.header {font-family: 'Abel', sans-serif;}
.largeT {font-size: 10vh;}
.mediumT {font-size: 7vh}
.text {font-family: 'Open Sans', sans-serif;}
p, html {font-family: 'Open Sans', sans-serif;}

/*color*/
.pink1 {background-color: #FEDBD0}
.pink2 {background-color: #FEEAE6}
.brownBG {background-color: #442C2E}
.brownTxt {color:#442C2E}
.greyBG {background-color: #E4E4E4}
