/*text*/
.header {font-family: 'Abel', sans-serif;}
.largeT {font-size: 10vh;}
.mediumT {font-size: 7vh}
.smallT {font-size: 5vh}
.smallerT {font-size: 3vh}
.tinyT {font-size: 1.5vmax}
.text {font-family: 'Open Sans', sans-serif;}
p, html {font-family: 'Open Sans', sans-serif;}

/*color*/
.pink1 {background-color: #FEDBD0}
.pink2 {background-color: #FEEAE6}
.brownBG {background-color: #442C2E}
.brownTxt {color:#442C2E}
.greyBG {background-color: #E4E4E4}
.blueBG {background-color: #b0eae6}
.blueTxt {color: #b0eae6}

/*border*/
.brownBorder {border: #442C2E solid 0.5vw}
.pinkBorder {border: #FEDBD0 solid 0.5vw}
.greyBorder {border: #E4E4E4 solid 0.5vw}
.blueBorder {border: #b0eae6 solid 0.5vw}

/*slideShow*/
.container {
    position: relative;
    width: 100vw;
    min-height: 93vh;
    margin: 0 auto;
    overflow: hidden;
    background: linear-gradient(to bottom right, #fedbd0 50%, #ffffff 50%);
    color: #442c2e;
  }
  .leftCol {padding-top: 10vh;}
  .rightCol {
    position: absolute;
    top: 50vh;left: 50vw;padding: 1.5vw;}
      
@media screen and (max-width: 768px) {
      .container {
          float: none;
          width: 100%;
          background: #ffffff;
              }
    .leftCol {background-color: #fedbd0; padding: 1vh;}
    .rightCol {background-color: #ffffff; position: static;
      text-align:center;padding: 1vh}
    i.noMobile {display: none}
  }


/*block*/
  .block {
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: white;
}
/*.block:last-child {
    margin-bottom: 20vh;
}*/
.next {
    position: absolute;
    left: 98vw;
    background-color: transparent;
    color: transparent;
}



/*bottomBar*/
.activeBtn {color: #FEDBD0}

/*pointer*/
.pointer {
    cursor: pointer;
    height: 0.5em;
    width: 0.5em;
    margin: 0 0.2em;
    display: inline-block;
    background-color: #fc553d;
    border-radius: 50%;
    position: fixed;  
    z-index: 1;
    animation: blink 1.5s linear infinite;
    }
    @keyframes blink{
    0%{opacity: 0;}
    50%{opacity: 0.7}
    100%{opacity: 1;}
    }
    
